/* CSS Desktop (404) */
@media (min-width: 1080px) {
  /* Importer les polices */
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }

  body {
    background-color: #111214 !important;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    margin-left: 2%;
    overflow: hidden;
  }

  /* Texte en haut de la page */
  #top {
    margin-top: 30vh;
    font-size: 2vw;
    line-height: 5vh;
    text-align: center;
  }

  /* Texte au centre de la page */
  #middle {
    margin-top: 10vh;
    font-size: 3vw;
    text-align: center;
  }

  /* Texte en bas de la page + lien */
  #bottom {
    color: #555555;
    font-size: 1vw;
    margin-top: 28.2vh; 
    margin-left: 39vw;
    bottom: 2vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  /* Lien de la page & Animation */
  #link {
    color: #9db4ff;
    text-decoration: none transparent;
  }
  #link:hover {
    color: #6e8ffc;
    text-decoration: underline;
    transition: text-decoration 1s ease;
  }
}

/* CSS Mobile (404) */
@media (max-width: 1080px) {
  /* Importer les polices */
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }
  
  body {
    background-color: #111214 !important;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    overflow: hidden;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  /* Texte en haut de la page */
  #top {
    margin-top: 20vh;
    font-size: 6vw;
    line-height: 4vh;
    text-align: center;
  }
  
  /* Texte au centre de la page */
  #middle {
    margin-top: 10vh;
    font-size: 8vw;
    text-align: center;
  }

  /* Texte en bas de la page + lien */
  #bottom {
    position: absolute;
    color: #555555;
    font-size: 3vw;
    margin-left: 22vw;
    bottom: 2vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  /* Lien de la page & Animation */
  #link {
    color: #9db4ff;
    text-decoration: none transparent;
  }
  #link:hover {
    color: #6e8ffc;
    text-decoration: underline;
    transition: text-decoration 1s ease;
  }
}