/* CSS Desktop (Contact) */
@media (min-width: 1080px) {
  /* Importer les polices */
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }

  body {
    background-color: #111214 !important;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    margin-left: 2%;
    margin-top: 3%;
    overflow: hidden;
  }

  /* Titre en haut à gauche de la page */
  #top .textTop {
    user-select: none;
    position: absolute;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 1.55vw;
  }
  #top .textTop a {
    text-decoration: none;
    color: #ffffff;
  }

  /* Lien en haut à droite de la page */
  #top .topMenus {
    user-select: none;
    position: absolute;
    right: 3%;
    color: #ffffff;
    font-family: 'Raleway-Regular';
    font-size: 1.2vw;
  }
  #top .topMenus a {
    margin-left: 4vw;
    text-decoration: none;
    color: #888888;
  }
  #top .topMenus a:hover {
    text-decoration: underline;
    color: #aaaaaa;
  }

  /* Barre sous le titre en haut à gauche de la page */
  #top .textBar {
    position: relative;
    width: 0;
    opacity: 0;
    margin-left: 0;
    top: 5vh;
    border: 0.3vh solid #5679d1;
    border-radius: 100px;
    transition: 3s;
    transition-delay: 2s;
  }
  #top:hover .textBar {
    width: 13.8vw;
    opacity: 1;
    transition: 0.5s;
  }

  /* Titre du texte de la page */
  #header .title {
    font-family: 'Raleway-SemiBold';
    font-size: 3vw;
    margin-top: 16.5vh;
  }

  /* Format du texte */
  #header .flex {
    display: flex;
  }

  /* Texte de la page */
  #header .textHeader {
    color: #ffffff;
    font-family: 'Raleway-Regular';
    font-size: 2vw;
    margin-top: 8vh;
    margin-left: 1vw; 
    margin-right: 10vw;
    line-height: 6vh;
  }
  #header .textHeader a {
    color: #9f9f9f;
    text-decoration: none;
  }
  #header .textHeader a:hover {
    color: #aaaaaa;
    text-decoration: underline;
  }

  /* Texte du bas de la page */
  #bottom {
    color: #555555;
    font-size: 1vw;
    margin-top: 27vh; 
    margin-left: 39vw;
    margin-bottom: 2vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  /* Barre de scroll */
  ::-webkit-scrollbar {
    height: 1vh;
    width: 0.5vw;
    background-color: #111214;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 10px 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #353739;
    border-radius: 10vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #474d54;
  }
}

/* CSS Mobile (Contact) */
@media (max-width: 1080px) {
  /* Importer les polices */
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }
  
  body {
    background-color: #111214 !important;
    color: #ffffff;
    margin-top: 5%;
    overflow: hidden;
  }

  /* Titre en haut à gauche de la page */
  #top .textTop {
    user-select: none;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 1.8vh;
    text-align: center;
    position: relative;
  }
  #top .textTop a {
    text-decoration: none;
    color: #ffffff;
  }

  /* Lien en haut à droite de la page */
  #top .topMenus {
    display: none;
  }

  /* Barre sous le titre en haut à gauche de la page */
  #top .textBar {
    display: none;
  }

  /* Titre du texte de la page */
  #header .title {
    position: relative;
    font-family: 'Raleway-SemiBold';
    font-size: 3vh;
    text-align: center;
    margin-top: 5vh;
  }

  /* Format du texte */
  #header .flex {
    display: inherit;
  }

  /* Texte de la page */
  #header .textHeader {
    color: #ffffff;
    font-family: 'Raleway-Regular';
    font-size: 2.5vh;
    margin-top: 5vh;
    left: 50%;
    right: 50%;
    line-height: 3.5vh;
    text-align: center;
  }
  #header .textHeader a {
    color: #9f9f9f;
    text-decoration: none;
  }

  #header .liste {
    display: none;
  }

  /* Texte du bas de la page */
  #bottom {
    position: absolute;
    color: #555555;
    font-family: 'Raleway-SemiBold';
    font-size: 3vw;
    margin-left: 22vw;
    bottom: 2.2vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  /* Barre de scroll */
  ::-webkit-scrollbar {
    height: 1vh;
    width: 0.5vw;
    background-color: #111214;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 10px 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #353739;
    border-radius: 10vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #474d54;
  }
}