@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Notification au chargement*/
.notification {
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 400px;
    transform: translateX(-150%);
    z-index: 999;
}
.notification.slide-in {
    transform: translateX(0);
    transition: transform 0.8s ease-in-out;
}
.notification.slide-out {
    transform: translateX(-150%);
    transition: transform 0.8s ease-in-out;
}

/* Titre des sections */
.section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
}

/* Aligner le texte de chaque case */
.card-content h3 {
    text-align: center;
}

/* Afficher les cases sur PC */
.profile, .skills, .profession {
    height: fit-content;
    min-width: 380px;
    min-height: 320px;
    overflow: hidden;
    border: 2px solid #00000000;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #111;
    transition: 0.5s;
}
.profile:hover, .skills:hover, .profession:hover {
    border: 2px solid #111;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #111;
}

/* Bordure et texte de chaque case */
.table-profile td,
th {
    border: none !important;
}
.table-profile td:first-of-type {
    font-weight: bold;
}
.table-profile tr:first-child:hover {
    background: none;
}
.table-profile tr:hover td {
    background: #ffffff11;
    border-radius: 10px;
    transition: 0.5s;
}
.table-profile tr:hover td:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.table-profile tr:hover td:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Affichage des cases des compétences */
.skills-content .media {
    margin: 0 !important;
    padding: 4px !important;
    border: 0 !important;
    transition: 0.5s;
}
.skills-content .media:hover {
    background: #ffffff11;
    border-radius: 10px;
}
.skills-content .progress {
    height: 4px !important;
}

/* Style des tags */
.custom-tags {
    text-align: center !important;
    display: block;
}

/* Style des projets */
.projects-container .card {
    margin-bottom: 2em;
}
.projects-container img {
    border-radius: 15px;
}

/* Cacher la barre de scroll */
::-webkit-scrollbar {
    display: none;
}

/* Mobile */
@media (max-width: 991px) {
    * {
        overflow: hidden;
    }

    /* Titre des sections */
    .section-heading {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 4em;
    }

    /* Aligner le texte de chaque case */
    .card-content h3 {
        text-align: center;
    }

    /* Afficher les cases sur Mobile */
    .profile {
        height: 380px;
        overflow: hidden;
    }
    .profession {
        height: 380px;
        overflow: hidden;
    }

    /* Bordure et texte de chaque case */
    .table-profile td,
    th {
        border: none !important;
        display: flex;
        margin-top: -15px;
    }
    .table-profile td:first-of-type {
        font-weight: bold;
        margin-top: 5px;
    }

    /* Affichage des cases des compétences */
    .skills-content .media {
        margin: 0 !important;
        padding: 4px !important;
        border: 0 !important;
    }
    .skills-content .progress {
        height: 4px !important;
    }

    .bottom {
        font-size: 0.8em;
    }
}

@media (max-width: 600px) {
    * {
        overflow: hidden;
    }

    /* Titre des sections */
    .section-heading {
        margin-bottom: 1em;
    }

    /* Aligner le texte de chaque case */
    .card-content h3 {
        text-align: center;
    }

    /* Afficher les cases sur Mobile */
    .profile {
        height: 380px;
        overflow: hidden;
    }
    .profession {
        height: 380px;
        overflow: hidden;
    }

    /* Bordure et texte de chaque case */
    .table-profile td,
    th {
        border: none !important;
        display: flex;
        margin-top: -15px;
    }
    .table-profile td:first-of-type {
        font-weight: bold;
        margin-top: 5px;
    }

    /* Affichage des cases des compétences */
    .skills-content .media {
        margin: 0 !important;
        padding: 4px !important;
        border: 0 !important;
    }
    .skills-content .progress {
        height: 4px !important;
    }

    .bottom {
        font-size: 0.8em;
    }
}
