/* CSS Desktop (Index) */
@media (min-width: 1080px) {
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }

  body {
    background-color: #111214 !important;
    color: #ffffff;
    margin-left: 2%;
    margin-top: 3%;
    overflow: hidden;
  }

  #top .textTop {
    user-select: none;
    position: absolute;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 1.55vw;
  }
  #top .textTop a {
    text-decoration: none;
    color: #ffffff;
  }

  #top .topMenus {
    user-select: none;
    position: absolute;
    right: 3%;
    color: #ffffff;
    font-family: 'Raleway-Regular';
    font-size: 1.2vw;
  }
  #top .topMenus a {
    margin-left: 4vw;
    text-decoration: none;
    color: #888888;
  }
  #top .topMenus a:hover {
    text-decoration: underline;
    color: #aaaaaa;
  }

  #top .textBar {
    position: relative;
    width: 0;
    opacity: 0;
    margin-left: 0;
    top: 5vh;
    border: 0.3vh solid #5679d1;
    border-radius: 100px;
    transition: 3s;
    transition-delay: 2s;
  }
  #top:hover .textBar {
    width: 13.8vw;
    opacity: 1;
    transition: 0.5s;
  }

  #header .title {
    font-family: 'Raleway-SemiBold';
    font-size: 3vw;
    margin-top: 30vh;
  }

  #header .textSub {
    color: #9f9f9f;
    font-family: 'Raleway-Regular';
    font-size: 1.4vw;
    margin-top: 4vh;
  }
  #header .textSub a {
    text-decoration: none;
  }
  #header .textSub a:hover {
    color: #aaaaaa;
    text-decoration: underline;
  }
  #header .textSub span {
    margin-top: 0.7em;
    margin-left: 0;
    max-width: 50vw;
    line-height: 3.2vh;
  }

  #bottom {
    color: #555555;
    font-family: 'Raleway-SemiBold';
    font-size: 1vw;
    margin-left: 39vw;
    margin-bottom: 2vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  #image button {
    user-select: none;
    background: #1b1e27;
    color: #ffffff;
    border: none;
    border-radius: 1.8vw;
    box-sizing: border-box;
    position: fixed;
    text-align: left;
    font-size: 1.75vw;
    width: 39vw;
    height: 72vh;
    top: 0;
    right: 3%;
    margin-top: 16vh;
    transition: 0.5s;
  }
  #image pre {
    margin-left: -8vw;
  }

  #btnProj {
    user-select: none;
    background: #5679d1;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    box-sizing: border-box;
    font-family: 'Raleway-SemiBold';
    font-size: 1vw;
    padding: 2vh;
    width: 8.5vw;
    cursor: pointer;
    position: relative;
    display: flex;
    margin-top: 4vh;
    margin-bottom: 33.55vh;
    padding-left: 1.5vw;
    transition: 0.5s;
  }

  #btnProj:before {
    content: "";
    background: linear-gradient(
      45deg,
      #629cf4,
      #2c67f2,
      #2c7bf2
    );
    position: absolute;
    background-size: 400%;
    border-radius: 100px;
    top: -2px;
    left: -2px;
    z-index: -1;
    opacity: 0;
    animation: btnProj 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
  }

  @keyframes btnProj {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }


  #btnProj:hover:before {
    opacity: 1;
  }

  #btnProj .file {
    width: 1vw;
    height: auto;
    filter: invert(100%);
    margin-left: 0.5vw;
    opacity: 0;
    transition: opacity 0.5s;
  }
  #btnProj .star1 {
    width: 1vw;
    height: auto;
    filter: invert(100%);
    margin-top: -1.5vw;
    margin-left: -1vw;
    opacity: 0;
    transition: 0.2s;
  }
  #btnProj .star2 {
    width: 1.2vw;
    height: auto;
    filter: invert(100%);
    margin-top: 1.5vw;
    margin-left: 0;
    position: absolute;
    opacity: 0;
    transition: 0.2s;
  }

  #btnProj span {
    white-space: nowrap;
  }

  #btnProj:hover {
    padding-left: 2vw;
    width: 10.7vw;
    transition: 0.5s;
  }
  #btnProj:hover .file {
    opacity: 1;
    transition: 0.5s;
  }
  #btnProj:hover .star1 {
    rotate: 70deg;
    margin-top: -1.3vw;
    margin-left: 0;
    opacity: 1;
    transition: 1.5s;
  }
  #btnProj:hover .star2 {
    rotate: -110deg;
    margin-top: 1.5vw;
    margin-left: -1.5vw;
    opacity: 1;
    transition: 1.5s;
  }

  #nolink {
    text-decoration: none;
    color: #ffffff;
  }

  #info {
    color: #333333;
    position: absolute;
    visibility: hidden;
    font-size: 0.8em;
  }

  ::-webkit-scrollbar {
    height: 1vh;
    width: 0.5vw;
    background-color: #111214;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 10px 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #353739;
    border-radius: 10vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #474d54;
  }
}

/* CSS Mobile (Index) */
@media (max-width: 1080px) {
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }
  
  body {
    background-color: #111214 !important;
    color: #ffffff;
    margin-top: 5%;
    overflow: hidden;
  }

  #top .textTop {
    user-select: none;
    position: relative;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 1.8vh;
    text-align: center;
  }
  #top .textTop a {
    text-decoration: none;
    color: #ffffff;
  }

  #top .topMenus {
    user-select: none;
    position: absolute;
    color: #ffffff;
    font-family: 'Raleway-Regular';
    font-size: 1.4vh;
    margin-top: 2vw;
    left: 5%;
    right: 5%;
    max-width: fit-content;
  }
  .topMenus a {
    margin-left: 6vw;
    text-decoration: none;
    color: #888888;
  }

  #top .textBar {
    display: none;
  }

  #header .title {
    position: relative;
    font-family: 'Raleway-SemiBold';
    font-size: 3vh;
    text-align: center;
    margin-top: 10vh;
    line-height: 2vh;
  }

  #header .textSub {
    color: #9f9f9f;
    font-family: 'Raleway-Regular';
    text-align: center;
    font-size: 2.5vw;
    margin-top: 2vh;
  }
  #header .textSub span {
    margin-top: 2vh;
    font-size: 2.7vw;
    left: 2%;
    right: 2%;
    max-width: fit-content;
    line-height: 1.6vh;
    text-align: center;
  }

  #bottom {
    position: absolute;
    color: #555555;
    font-family: 'Raleway-SemiBold';
    font-size: 3vw;
    margin-left: 22vw;
    bottom: 2vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  #image button {
    user-select: none;
    position: relative;
    background: #1b1e27;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    text-align: left;
    font-size: 1.80vh;
    width: 90%;
    height: fit-content;
    left: 5%;
    right: 5%;
    top: auto;
    margin-top: 7vh;
    transition: 0.5s;
  }
  #image pre {
    margin-left: -18vw;
  }

  #btnProj {
    user-select: none;
    position: relative;
    background: #5679d1;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    font-family: 'Raleway-SemiBold';
    font-size: 25px;
    padding: 16px;
    padding-left: 30px;
    padding-right: 30px;
    width: 200px;
    height: 60px;
    margin-top: 2vh;
    left: 40%;
    transition: 0.5s;
    max-width: fit-content;
  }

  .file {
    display: none;
  }
  .star1 {
    display: none;
  }
  .star2 {
    display: none;
  }

  #nolink {
    text-decoration: none;
    color: #ffffff;
  }

  #info {
    color: #333333;
    position: absolute;
    visibility: hidden;
    font-size: 0.8em;
  }

  ::-webkit-scrollbar {
    height: 1vh;
    width: 0.5vw;
    background-color: #111214;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 10px 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #353739;
    border-radius: 10vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #474d54;
  }
}