@font-face {
  font-family: "Raleway-Bold";
  src: url('./Raleway-Bold.ttf') format('opentype');
}

@font-face {
  font-family: "Raleway-Regular";
  src: url('./Raleway-Regular.ttf') format('opentype');
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url('./Raleway-SemiBold.ttf') format('opentype');
}

body {
  background-color: #111214 !important;
  color: #ffffff;
  margin-left: 2%;
  margin-top: 3%;
  overflow-y: auto;
  overflow-x: hidden;
}