/* CSS Desktop (Projets) */
@media only screen and (min-width: 1080px) {
  /* Importer les polices */
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato-Regular';
    src: url('./Lato-Regular.ttf') format('truetype');
  }

  body {
    background-color: #111214 !important;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    margin-left: 2%;
    margin-top: 3%;
  }

  /* Barre qui sépare le titre du texte */
  #bar {
    position: fixed; 
    opacity: 0;
    top: 22vh;
    left: 0;
    width: 0;
    border-bottom: solid #ffffff;
  }

  /* Cacher le texte sous le titre */
  #hideTxt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 22vh;
    background: #111214;
    z-index: 0;
  }

  /* Titre en haut à gauche de la page */
  #top .textTop {
    user-select: none;
    position: fixed; 
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 1.55vw;
    top: 6.2vh;
  }
  #top .textTop a {
    text-decoration: none;
    color: #ffffff;
  }

  /* Lien en haut à droite de la page */
  #top .topMenus {
    user-select: none;
    position: fixed;
    color: #ffffff;
    font-family: 'Raleway-Regular';
    font-size: 1.2vw;
    margin-left: 4vw;
    top: 6.2vh;
    right: 3%;
  }
  #top .topMenus a {
    text-decoration: none;
    color: #888888;
  }
  #top .topMenus a:hover {
    text-decoration: underline;
    color: #aaaaaa;
  }

  /* Barre sous le titre en haut à gauche de la page */
  #top .textBar {
    position: fixed;
    width: 0;
    opacity: 0;
    margin-left: 0;
    top: 10vh;
    border: 0.3vh solid #5679d1;
    border-radius: 100px;
    transition: 3s;
    transition-delay: 2s;
  }
  #top:hover .textBar {
    width: 13.8vw;
    opacity: 1;
    transition: 0.5s;
  }

  /* Titre du texte de la page */
  #header .title {
    position: sticky; 
    font-family: 'Raleway-SemiBold';
    font-size: 3vw;
    margin-top: 23vh;
    top: 13vh;
  }
  
  /* Texte de la page */
  #header .textHeader {
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 2vw;
    margin-top: 8vh;
  }
  
  /* Texte sous les bannières */
  #header .bannerText {
    color: #cccccc;
    font-family: 'Raleway-Regular';
    font-size: 1.4vw;
    margin-top: 3vh;
    line-height: 3.8vh;
  }

  /* Liens de la pages + animation */
  #header a {
    color: #cccccc;
  }
  #header a:hover {
    color: #dddddd;
  }

  /* Texte du bas de la page */
  #bottom {
    color: #555555;
    font-family: 'Raleway-SemiBold';
    font-size: 1vw;
    margin-top: 8vh; 
    margin-left: 39vw;
    margin-bottom: 2.25vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  /* Icônes */
  .icons {
    user-select: none;
    width: 1.5vw;
    height: auto;
    margin-right: 1vw;
  }

  /* Bannières */
  .banner {
    user-select: none;
    width: 46.8vw;
    height: auto;
    border-radius: 1vw;
    margin-top: 1vh;
    transition: 1s;
  }
  .banner:hover {
    width: 50vw;
    height: auto;
    transition: 1s;
  }

  /* Badge de dernière sortie */
  .latestRelease {
    user-select: none;
    position: absolute;
    background-color: #111214;
    color: #3fb950;
    font-family: 'Lato-Regular';
    font-size: 1.2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 0.5vh;
    margin-left: 1.2vw;
    border-radius: 100px;
    border: 0.4vh solid #238636;
    z-index: -1;
  }

  /* Badge de pré-release */
  .preRelease {
    user-select: none;
    position: absolute;
    background-color: #111214;
    color: #d29922;
    font-family: 'Lato-Regular';
    font-size: 1.2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 0.5vh;
    margin-left: 1.2vw;
    border-radius: 100px;
    border: 0.4vh solid #9e6a03;
    z-index: -1;
  }

  /* Chargement de la page (Animation) */
  #loader {
    position: absolute;
    display: inline-block;
    width: 4.25vh;
    height: 4.25vh;
    border: 4px solid #ffffff;
    animation: loader 2s infinite ease;
  }
  #loader-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  #loader-inner {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    width: 100%;
    animation: loader-inner 2s infinite ease-in;
  }
  /* Texte lors du chargement */
  #loaderText {
    margin-top: 20vh;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  /* Barre de scroll */
  ::-webkit-scrollbar {
    height: 1vh;
    width: 0.5vw;
    background-color: #111214;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 10px 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #353739;
    border-radius: 10vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #474d54;
  }
}

/* CSS Mobile (Projets) */
@media only screen and (max-width: 1080px) {
  /* Importer les polices */
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato-Regular';
    src: url('./Lato-Regular.ttf') format('truetype');
  }
  
  body {
    background-color: #111214 !important;
    color: #ffffff;
    margin-top: 5%;
  }

  /* Barre qui sépare le titre du texte */
  #bar {
    position: fixed; 
    opacity: 0;
    top: 5vh;
    left: 0;
    width: 0;
    border-bottom: solid #ffffff;
  }

  /* Cacher le texte sous le titre */
  #hideTxt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background: #111214;
    z-index: 0;
  }
  
  /* Titre en haut à gauche de la page */
  #top .textTop {
    user-select: none;
    position: relative;
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 1.8vh;
    text-align: center;
    top: 0;
  }

  #top .textTop a {
    text-decoration: none;
    color: #ffffff;
  }

  /* Lien en haut à droite de la page */
  #top .topMenus {
    display: none;
  }

  /* Barre sous le titre en haut à gauche de la page */
  #top .textBar {
    display: none;
  }
  
  /* Titre du texte de la page */
  #header .title {
    position: sticky;
    font-family: 'Raleway-SemiBold';
    font-size: 3vh;
    text-align: center;
    margin-top: 5vh;
    top: 1vh;
  }

  /* Texte de la page */
  #header .textHeader {
    color: #ffffff;
    font-family: 'Raleway-Regular';
    font-size: 2.2vh;
    margin-top: 2vh;
  }
  
  /* Texte sous les bannières */
  #header .bannerText {
    color: #cccccc;
    font-family: 'Raleway-Regular';
    font-size: 15px;
    margin-top: 3vh;
    line-height: 2vh;
  }

  /* Liens de la pages */
  #header a {
    color: #cccccc;
  }

  /* Texte du bas de la page */
  #bottom {
    position: relative;
    color: #555555;
    font-family: 'Raleway-SemiBold';
    font-size: 0.5vh;
    margin-top: 5vh;
    margin-left: 0;
    text-align: center;
    bottom: 2vh;
  }
  #bottom a {
    color: #555555;
    text-decoration: none;
  }
  #bottom a:hover {
    color: #777777;
    text-decoration: underline;
  }

  /* Icônes */
  .icons {
    user-select: none;
    width: 3vw;
    height: auto;
    margin-right: 1vw;
  }

  /* Bannières */
  .banner {
    user-select: none;
    width: 100%;
    height: auto;
    border-radius: 2vw;
  }

  /* Badge de dernière sortie */
  .latestRelease {
    user-select: none;
    position: absolute;
    background-color: #111214;
    color: #3fb950;
    font-family: 'Lato-Regular';
    font-size: 20px;
    margin-top: 0.7vh;
    margin-left: 2vw;
    border-radius: 100px;
    border: 3px solid #238636;
    z-index: -1;
  }
  
  /* Badge de pré-release */
  .preRelease {
    user-select: none;
    position: absolute;
    background-color: #111214;
    color: #d29922;
    font-family: 'Lato-Regular';
    font-size: 20px;
    margin-top: 0.7vh;
    margin-left: 2vw;
    border-radius: 100px;
    border: 3px solid #9e6a03;
    z-index: -1;
  }

  /* Chargement de la page (Animation) */
  #loader {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    top: 50vh;
    left: 50vw;
    border: 8px solid #ffffff;
    animation: loader 2s infinite ease;
  }
  #loader-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    width: 100%;
    height: 110%;
    z-index: 9999;
  }
  #loader-inner {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    width: 100%;
    animation: loader-inner 2s infinite ease-in;
  }
  /* Texte lors du chargement */
  #loaderText {
    margin-top: 2vh;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  /* Barre de scroll */
  ::-webkit-scrollbar {
    height: 1vh;
    width: 0.5vw;
    background-color: #111214;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 10px 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #353739;
    border-radius: 10vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #474d54;
  }
}