@font-face {
  font-family: "Raleway-Bold";
  src: url('./Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Raleway-Regular";
  src: url('./Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url('./Raleway-SemiBold.ttf') format('truetype');
}

body {
  background-color: #111214 !important;
  color: #ffffff;
  margin-left: 2%;
  margin-top: 3%;
}

/* Cacher le texte pour éviter le chevauchement */
#hideTxt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: #111214;
  z-index: 0;
}

/* Titre page en haut à gauche */
#top div {
  user-select: none;
  color: #ffffff;
  font-family: "Raleway-SemiBold";
  font-size: 1.55vw;
  position: absolute;
}
/* Barre sous le titre en haut à gauche */
#top hr {
  width: 0;
  position: relative;
  top: 5vh;
  margin-left: 0;
  border: 0.3vh solid #5679d1;
  border-radius: 100px;
  opacity: 0;
  transition: 3s;
  transition-delay: 2s;
}
/* Animation quand la souris passe sur la barre */  
#top:hover hr {
  width: 13.8vw;
  opacity: 1;
  transition: 0.5s;
}

/* Couleur des liens du titre */
.textTop a {
  text-decoration: none;
  color: #ffffff;
}

/* Menus en haut à droite */
.topMenus {
  user-select: none;
  position: absolute;
  right: 3%;
  color: #ffffff;
  font-family: "Raleway-Regular";
  font-size: 1.2vw;
}
/* Couleur des liens des menus */
.topMenus a {
  margin-left: 4vw;
  text-decoration: none;
  color: #888888;
}
/* Passage de la souris */
.topMenus a:hover {
  text-decoration: underline;
  color: #aaaaaa;
}

/* Encadré à gauche de la page */
#header div {
  font-family: "Raleway-SemiBold";
  font-size: 3vw;
  margin-top: 30vh;
}

/* Texte sous l'encadré à gauche de la page */
#header .textSub {
  color: #9f9f9f;
  font-family: "Raleway-Regular";
  font-size: 1.4vw;
  margin-top: 4vh;
}
.textSub span {
  margin-top: 0.7em;
  margin-left: 0;
  max-width: 50vw;
  line-height: 3.2vh;
}

/* Code de présentation à droite de la page */
.image button {
  user-select: none;
  background: #1b1e27;
  color: #ffffff;
  border: none;
  border-radius: 1.8vw;
  box-sizing: border-box;
  position: fixed;
  text-align: left;
  font-size: 1.75vw;
  width: 39vw;
  height: 72vh;
  top: 0;
  right: 3%;
  margin-top: 16vh;
  transition: 0.5s;
}
/* Mise en page */
.image pre {
  margin-left: -8vw;
}

/* Bouton "Mes projets" sous l'encadré + déco */
#btnProj {
  user-select: none;
  background: #5679d1;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  font-family: "Raleway-SemiBold";
  font-size: 1vw;
  padding: 2vh;
  width: 8.5vw;
  cursor: pointer;
  position: relative;
  display: flex;
  margin-top: 4vh;
  padding-left: 1.5vw;
  transition: 0.5s;
}
#btnProj .file {
  width: 1vw;
  height: auto;
  filter: invert(100%);
  margin-left: 0.5vw;
  opacity: 0;
  transition: opacity 0.5s;
}
#btnProj .star1 {
  width: 1vw;
  height: auto;
  filter: invert(100%);
  margin-top: -1.5vw;
  margin-left: -1vw;
  opacity: 0;
  transition: 0.2s;
}
#btnProj .star2 {
  width: 1.2vw;
  height: auto;
  filter: invert(100%);
  margin-top: 1.5vw;
  margin-left: 0;
  position: absolute;
  opacity: 0;
  transition: 0.2s;
}

/* Éviter le retour à la ligne sur le texte du bouton */
#btnProj span {
  white-space: nowrap;
}

/* Animations quand la souris passe sur le bouton */
#btnProj:hover {
  padding-left: 2vw;
  width: 10.7vw;
  transition: 0.5s;
}
#btnProj:hover .file {
  opacity: 1;
  transition: 0.5s;
}
#btnProj:hover .star1 {
  rotate: 70deg;
  margin-top: -1.3vw;
  margin-left: 0;
  opacity: 1;
  transition: 1.5s;
}
#btnProj:hover .star2 {
  rotate: -110deg;
  margin-top: 1.5vw;
  margin-left: -1.5vw;
  opacity: 1;
  transition: 1.5s;
}

/* Couleur du lien bouton */
#nolink {
  text-decoration: none;
  color: #ffffff;
}

/* Texte en italique */
#info {
  color: #333333;
  position: absolute;
  visibility: hidden;
  font-size: 0.8em;
}

/* Icônes /projets */
.icons {
  user-select: none;
  width: 1.5vw;
  height: auto;
  margin-right: 1vw;
}

/* Bannière sous les projets */
.banner {
  user-select: none;
  width: 20vw;
  height: auto;
  border-radius: 1vw;
  margin-top: 1vh;
}

/* Barre de scroll latérale */
::-webkit-scrollbar {
  height: 1vh;
  width: 0.5vw;
  background-color: #111214;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 10px 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #353739;
  border-radius: 10vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #474d54;
}