@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Mode clair */
[data-theme="light"] {
    --bg: #fff;
    --bg-invert: #111;
    --button-bg: #333;
    --button-color: #fff;
    --button-shadow: #666;
    --hover-bg: #00000008;
    --menu-bg: #fafafa;
    --menu-shadow: #00000022;
    --menu-list-bg: #444;
    --menu-list-active: #2942ff;
    --menu-chat-bg: #fff;
    --menu-chat-color: #444;
    --menu-chat-placeholder-color: #444444aa;
    --input-border-focus: #4258ff;
    --icon-sparkles: url('../icons/sparkles-light.svg');
    --check: #21da86;
    --error: #ff4444;
}

/* Mode sombre */
[data-theme="dark"] {
    --bg: #111;
    --bg-invert: #fff;
    --button-bg: #333;
    --button-color: #fff;
    --button-shadow: #444;
    --hover-bg: #ffffff08;
    --menu-bg: #0d0d0d;
    --menu-shadow: #00000044;
    --menu-list-bg: #abb1bf;
    --menu-list-active: #2942ff;
    --menu-chat-bg: #14161a;
    --menu-chat-color: #aaa;
    --menu-chat-placeholder-color: #666666aa;
    --input-border-focus: #4258ff;
    --icon-sparkles: url('../icons/sparkles-dark.svg');
    --check: #30ca85;
    --error: #ff6666;
}

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
  
body {
    position: relative;
    min-height: 100vh;
}

a {
    border-radius: 2px;
}

pre {
    border-radius: 10px;
}

/* Notification au chargement*/
.notification {
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 400px;
    transform: translateX(-150%);
    z-index: 999;
}
.notification.slide-in {
    transform: translateX(0);
    transition: transform 0.8s ease-in-out;
}
.notification.slide-out {
    transform: translateX(-150%);
    transition: transform 0.8s ease-in-out;
}

/* Éléments de bas de page */
.theme-notif, .switch-btn, .menu-btn, .home-btn {
    position: fixed;
    bottom: 15px;
    color: var(--menu-list-bg);
    z-index: 1001;
}
.switch-btn:hover, .menu-btn:hover, .home-btn:hover {
    filter: brightness(150%);
}

/* Notification au changement de thème */
.theme-notif {
    display: none;
    left: 60px;
    font-size: 14px;
    opacity: 0;
}
.theme-notif.show {
    display: block;
    animation: bounceIn 0.6s ease-out forwards;
}
.theme-notif.hide {
    animation: bounceOut 0.6s ease-in forwards;
}

/* Changer de thème */
.switch-btn {
    left: 25px;
    background: none;
    border: none;
    border-radius: 100px;
    transition: 1s ease-in-out;
}

/* Ouvrir le menu ou retourner à l'accueil */
.menu-btn, .home-btn {
    right: 25px;
    background: none;
    border: none;
    border-radius: 100px;
    transition: 1s ease-in-out;
}
.menu-btn.is-visible {
    transform: translateX(-200px) rotate(180deg);
}

/* Menu */
.side-menu {
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--menu-bg);
    padding: 15px 15px 50px 15px;
    width: 250px;
    height: 100%;
    z-index: 1000;
    transition: 1s transform ease-in-out;
    transform: translateX(100%);
}
.side-menu.is-visible {
    box-shadow: -2px 0 5px var(--menu-shadow);
    transform: translateX(0);
}
.menu-list a {
    background: var(--bg);
    color: var(--menu-list-bg);
    transition: 0.5s;
}
.menu-list a:hover {
    background: var(--hover-bg);
}
.menu-list .is-active {
    background: var(--menu-list-active);
    color: var(--button-color);
    opacity: 0.9;
}
.menu-list .is-active:hover {
    background: var(--menu-list-active);
    opacity: 1;
}

/* Question / Response */
.question, .response {
    background: var(--bg);
    color: var(--menu-list-bg);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 3px;
}
.question {
    padding: 15px 10px;
}
.question::placeholder {
    color: var(--menu-chat-placeholder-color);
    font-family: 'Poppins', sans-serif;
}
.response {
    height: auto;
    padding: 8px 10px;
    margin-top: 7px;
}
.response .tag {
    font-weight: bold;
}

/* Titre des sections */
.section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
}

/* Aligner le texte de chaque case */
.card-content h3 {
    text-align: center;
}

/* Statistiques */
.level-item {
    width: 25%;
}

/* Cases du profil et des compétences */
.profile, .skills, .profession {
    user-select: none;
    overflow: hidden;
    height: fit-content;
    min-width: 380px;
    min-height: 320px;
    border: 2px solid var(--bg-invert);
    border-radius: 20px;
}
.profile:hover, .skills:hover, .profession:hover {
    box-shadow: 5px 5px 0 var(--bg-invert);
    transform: translate(-3px, -3px);
}
.profile:active, .skills:active, .profession:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

/* Tableau du profil et des compétences */
.table-profile td, th {
    border: none !important;
    transition: 0.5s;
}
.table-profile td:first-of-type {
    font-weight: bold;
}
.table-profile tr:first-child:hover {
    background: none;
}
.table-profile tr:hover td {
    background: var(--hover-bg);
    border-radius: 10px;
}
.table-profile tr:hover td:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.table-profile tr:hover td:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Survol et clic des boutons */
.button {
    background: var(--button-bg);
    color: var(--button-color);
    transition: 0.5s;
}
.button:hover {
    box-shadow: 3px 3px 0 var(--button-shadow);
    transform: translate(-3px, -3px);
}
.button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}
.button.disabled {
    pointer-events: none;
    opacity: 0.2;
}
/* Étoiles sur les boutons */
.button::before, .button::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    background-size: cover;
    transform: scale(-0.5) rotate(0deg);
    transition: 0.5s;
}
.button::before {
    top: -6px;
    left: -9px;
    background-image: var(--icon-sparkles);
}
.button::after {
    bottom: -12px;
    right: -10px;
    background-image: var(--icon-sparkles);
}
.button:hover::before {
    opacity: 1;
    transform: scale(1) rotate(120deg);
}
.button:hover::after {
    opacity: 1;
    transform: scale(0.8) rotate(190deg);
}

/* Barres de progression */
.skills-content .media {
    margin: 0 !important;
    padding: 4px !important;
    border: 0 !important;
    transition: 0.5s;
}
.skills-content .media:hover {
    background: var(--hover-bg);
    border-radius: 10px;
}
.skills-content .progress {
    height: 4px !important;
}

/* Badges Google */
.badge-grid {
    display: grid;
    user-select: none;
    background: var(--hover-bg);
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    border-radius: 100px;
    padding: 10px 25px;
    margin: 0 20%;
}
.badge-item {
    position: relative;
    display: inline-block;
    width: 75px;
}
.badge-item::before {
    content: attr(data-tooltip);
    background: var(--bg-invert);
    color: var(--bg);
    white-space: nowrap;
    visibility: hidden;
    position: absolute;
    bottom: -50%;
    left: 50%;
    opacity: 0;
    padding: 5px 8px;
    border-radius: 10px;
    transform: translateX(-50%);
    transition: 0.2s ease-in-out;
}
.badge-item:hover::before {
    visibility: visible;
    opacity: 1;
}

/* Cases des projets */
.card {
    border: 2px solid transparent;
    margin-bottom: 2em;
    transition: 0.5s;
}
.card:hover {
    cursor: pointer;
    border: 2px solid var(--bg-invert);
    box-shadow: 5px 5px 0 var(--bg-invert);
    transform: translate(-3px, -3px);
}
.card:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
.card img {
    user-select: none;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: 0.5s;
}
.card img:hover {
    border-radius: 20px;
    border: 2px solid var(--bg-invert);
}
/* Titre des projets */
.card-header-title {
    user-select: none;
    overflow-x: scroll;
    white-space: nowrap;
}
/* Liens des projets */
.card-footer a {
    font-weight: 500;
    transition: 0.5s;
}
.card-footer a:hover {
    transform: translateY(-2px);
}
.card-footer a:active {
    transform: translate(0);
}
.card-footer a:focus {
    border-radius: 10px;
}

/* Tags */
.tag {
    transition: 0.5s;
}
.tag:hover {
    filter: invert(3%) brightness(100%);
}
/* Nouveau / Récent */
.info {
    position: absolute;
    top: -10px;
    right: -15px;
    font-weight: bold;
}

/* Définir des largeurs */
.w-20 {
    width: 20%;
}
.w-60 {
    width: 60%;
}

/* Icônes */
.icon {
    width: 1em;
    height: 1em;
    margin-top: -0.07em;
    pointer-events: none;
    transition: 0.5s ease;
}
.fa-circle-check {
    color: var(--check);
}

/* Style des messages du chat */
.chat-container {
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px var(--menu-shadow);
}
.chat td {
    word-wrap: break-word;
    white-space: normal;
}
.chat td:nth-child(1), .chat td:nth-child(3) { width: 20%; }
.chat td:nth-child(2) { width: 60%; max-width: 500px;}

/* Coche et radio */
input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 0 5px 2.7px 0;
    border: 2px solid var(--menu-list-bg);
    border-radius: 4px;
    transition: all 0.3s ease;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background: var(--menu-list-bg);
    border-color: var(--menu-list-bg);
}
input[type="radio"] {
    border-radius: 100%;
}

/* Auto remplissage des inputs */
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--menu-chat-bg) inset !important;
    caret-color: var(--bg-invert) !important;
    -webkit-text-fill-color: var(--bg-invert) !important;
}
input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px var(--menu-chat-bg) inset, 0 0 5px 1px var(--input-border-focus) !important;
}
input:-webkit-autofill.input-error {
    box-shadow: 0 0 0px 1000px var(--menu-chat-bg) inset !important;
    border: 0.6px solid var(--error) !important;
}

/* Succès input */
.input-success {
    border: 1px solid var(--check);
    background: var(--bg);
}

/* Erreur input */
.input-error {
    border: 1px solid var(--error);
    background: var(--bg);
}

/* Compteur de caractères */
.counter {
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 14px;
    color: var(--bg-invert);
}

/* Liens au survol */
.description a:hover, .bottom a:hover, .chat a:hover {
    text-decoration: underline;
}

.bottom {
    position: absolute;
    bottom: 2px;
    width: 100%;
}

/* Cacher la barre de scroll */
::-webkit-scrollbar {
    display: none;
}

/* Tablette */
@media (max-width: 1278px) {
    /* Section veille */
    section#veille {
        padding: 15px;
    }

    /* Listes */
    li {
        margin-left: -5px;
    }

    /* Notification avec background */
    .theme-notif {
        background: var(--bg-invert);
        color: var(--bg);
        bottom: 10px;
        padding: 5px 10px;
        border-radius: 100px;
    }

    /* Colonnes */
    .columns.about {
        display: inline;
    }
    .columns.about .column {
        padding: 20px 0;
    }
    .columns.about .column .card {
        margin: 0;
    }

    /* Stats */
    .level {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
    }
    .level-item {
        width: 100%;
    }

    /* Badges Google */
    .badge-grid {
        border-radius: 50px;
        padding: 10px 15px;
        margin: 0;
    }      
    .badge-item {
        width: 60px;
    }

    /* Boutons sans étoiles */
    .button::before, .button::after {
        background-image: none;
    }

    /* Tag */
    .info {
        right: -10px;
        font-size: 10px;
    }

    /* Notifications du chat */
    .field.is-grouped {
        display: none;
    }

    /* Copyright */
    .bottom {
        font-size: 0.8em;
    }
}

/* Mobile */
@media (max-width: 600px) {
    /* Titre des sections */
    .section-heading {
        margin-bottom: 1em;
    }

    /* Stats */
    .level {
        display: block;
    }
    .level-item {
        margin-bottom: 20px;
    }

    /* Cases du profil et des compétences */
    .profile, .skills, .profession {
        min-width: auto;
    }

    /* Tableau du profil */
    .table-profile td {
        display: inline-block;
    }

    /* Badges Google */
    .badge-grid {
        overflow-y: scroll;
    }      
    .badge-item {
        width: 40px;
    }

    /* Tag */
    .info {
        font-size: 12px;
    }

    /* Messages du chat */
    .chat td:nth-child(2) { padding-left: 45px; }
}

/* Animations de la notification */
@keyframes bounceIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    60% {
        transform: translateY(-10%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounceOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(10%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}