/* - - - - - - - Animations - - - - - - - */

/* Notification */
@keyframes showNotif {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    60% {
        transform: translateY(-10%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hideNotif {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(10%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* Texte qui rebondit */
@keyframes illuminate {
    0%, 100% { opacity: 0; }
    20%, 40%, 60%, 80% { opacity: 1; }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}